/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
   margin:0;
   padding:0;
   border:0;
   outline:0;
   font-size:100%;
   font:inherit;
   vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
   display:block;
}
body{
   line-height:1;
   font-family: Helvetica;
}
ol,ul{
   list-style:none;
}
blockquote,q{
   quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
   content:'';
   content:none;
}
/* remember to define visible focus styles!
:focus{
   outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
   text-decoration:none;
}
del{
   text-decoration:line-through;
}

table{
   border-collapse:collapse;
   border-spacing:0;
}


/**************************************
SLABBY
*/

.inactive {
    display: none; }

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -moz-box-shadow:
        inset 700px 0 1000px -500px #CCC,
        inset -700px 0 1000px -500px #CCC;
    -webkit-box-shadow:
        inset 700px 0 1000px -500px #CCC,
        inset -700px 0 1000px -500px #CCC;
    box-shadow:
        inset 700px 0 1000px -500px #CCC,
        inset -700px 0 1000px -500px #CCC;
    z-index: 20; }

#nav_links{
    position: relative;
    left: -350px;
    top: -18px;
    color: #AAA;
    font-size: 24px;
    text-transform: lowercase;
    text-align: right;
    width: 250px;
    letter-spacing: -1px; }

    #nav_links #title {
        color: #000;
        font-size: 28px;
        margin-bottom: 20px; }

    #nav_links a {
        text-decoration: none;
        font-size: 18px;
        color: #AAA; }

    #nav_links a:hover {
        color: #777; }

    #nav_links .selected a {
        font-weight: bold;
        color: #333; }

#focused_slab{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 612px;
    height: 612px;
    margin-left: -313px;
    margin-top: -335px; }
    
.slabby{
   /*border: 1px solid black;*/
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    clear: both;
    margin-top:-125.5px;
    margin-left:-272px;
    width: 99999px;}

.slab{
   /*border: 1px solid blue;*/
    display: block;
    float: left;
    width: 252px;
    height: 252px;
    margin: 0 10px; }

.slab.centered{
    margin: 0 145px 0 160px; }

.slab.focused{
    margin-left: -180px;
    margin-top: -211px;
    width: 612px;
    height: 612px;
    z-index: 10px; }

.slab p{
    color: #AAA;
    height: 100%;
    text-align: center;
    line-height: 250px;
    font-size: 70px; }

.slab.centered p {
    color: #222; }


.focused_frame {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    width: 250px;
    height: 250px;
    z-index: 0; }

.slab.centered .focused_frame{
    margin-left: -188px;
    margin-top: -211px;
    width: 612px;
    height: 612px;
    z-index: 10;
    -moz-box-shadow: 0 0 50px 1px #111;
    -webkit-box-shadow: 0 0 50px 1px #111;
    box-shadow: 0 0 50px 1px #111; }

.full_photo{
    /*border: 1px solid green;*/
    position: absolute;
    display: block;
    opacity: 0; }


.slab.centered .full_photo{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1; }

    .full_photo svg {
        height: 100%;
        width: 100%; }

.thumb{
    /*border: 1px solid red;*/
    position: absolute;
    width: 252px;
    height: 252px;
    display: block; }

.slab.centered .thumb{
    display: none;
    top: 210px;
    left: 190px; }



/**************************************
SLIDER
*/
.slider{
    background-color: #BBB;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 310px;
    width: 700px;
    height: 7px; }


.knob{
    background-color: #222;
    position: relative;
    height: 7px;
    width: 0px; }


/**********************************
TUNES
*
    
