/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
   margin:0;
   padding:0;
   border:0;
   outline:0;
   font-size:100%;
   font:inherit;
   vertical-align:baseline;
   border: 1px solid black;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
   display:block;
}
body{
   line-height:1;
}
ol,ul{
   list-style:none;
}
blockquote,q{
   quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
   content:'';
   content:none;
}
/* remember to define visible focus styles!
:focus{
   outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
   text-decoration:none;
}
del{
   text-decoration:line-through;
}

table{
   border-collapse:collapse;
   border-spacing:0;
}


/**************************************
SLABBY
*/
#home{
    overflow: hidden; }


#focused_slab{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 612px;
    height: 612px;
    margin-left: -313px;
    margin-top: -335px; }
    

.slabby{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    display: block;
    clear: both;
    margin-top:-125.5px;
    margin-left:-275px;
    width: 99999px;}

.slab{
    display: block;
    float: left;
    width: 250px;
    height: 250px;
    margin: 0 10px; }

.slab.centered{
    margin: 0 145px; }

.slab.focused{
    margin-left: -180px;
    margin-top: -211px;
    width: 612px;
    height: 612px;
    z-index: 10px; }


/**************************************
SLIDER
*/
#slider{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 310px;
    width: 700px;
    height: 7px; }


#knob{
    position: relative;
    height: 7px;
    width: 0px; }
