<div class="slab">
    <div class="focused_frame">
        <a href="http://gridit.ca" class="ext_link" target="_blank"></a>
        <img class="full_photo" src="{{ image_url }}"/>
        <div class="thumb">
            <svg xmlns:svg="http://www.w3.org/2000/svg" version="1.1" baseProfile="full">
                <defs xmlns="http://www.w3.org/2000/svg">
                    <filter id="gaussian_blur">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="4"/>
                    </filter>
                </defs>
                <image x="7" y="7" width="235" height="235" xlink:href="{{ image_url }}" style="filter:url(#gaussian_blur)"/>
            </svg>
        </div>
    </div>
</div>
