.monthHeading::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 8px;
    height: 8px;
    border-top: 4px solid theme(colors.gray.600);
    border-right: 4px solid theme(colors.gray.600);
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

@media (prefers-color-scheme: dark) {
    .monthHeading::after {
        border-top: 4px solid theme(colors.gray.300);
        border-right: 4px solid theme(colors.gray.300);
    }
}